:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  min-width: 1000px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#panel{
  width: 60%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#car{
  width: 20%;
  height: 700px;
  overflow: auto;
  background-color: rgba(184, 151, 226, 0.151);
  padding: 1%;
}

.prod{
  width: 40%;
  height: 40%;
  margin: 5px;
  color: white;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img_container{
  height: 70%;
  overflow: hidden;
}

.img-prod{
  width: 100%; 
}

.name{
  text-align: left;
  font-family: Calibri;
  font-size: 1.5rem;
  margin: 0px;
  font-weight: bold;
  cursor: pointer;
}
.price{
  text-align: left;
  font-family: Calibri;
  font-size: 1.5rem;
  margin: 0px;
}
.offer{
  text-align: left;
  font-family: Calibri;
  font-size: 1.2rem;
  margin: 0px;
}

.buy{
  width: 50%;
  height: auto;
  margin: auto;
}

.buy img{
width: 90px;
max-height: 100px;
}

.buy_desc{
  height: 25%;
}
.buy_desc p {
  margin: auto;
}
.div_quant{
  display: flex;
  justify-content: center;
}
.desc_quant{
  text-align: left;
  overflow: hidden;
}
#box{
  position:absolute;
  bottom: -220px;
  height: 20%;
  width: 230px;
  border: 1px solid white;
}

